<div class="row">
  <aside class="col-sm-3">
    <%= render 'icon', user: @user %>
  </aside>
  <div class="col-sm-8">
    <%= render 'link' %>
    <%= render 'posts/posts', posts: @posts %>
  </div>
</div>