<div class="row">
  <div class="col-sm-3">
     <%= render 'icon',user: @orchestra.user %>
  </div>
  <div class="col-sm-8">
    <%= render 'link',user: @orchestra.user %>
    <%= render 'orchestra', orchestra: @orchestra %>
  </div>
</div>